.navbar-inverse {
    border:none;
    border-color: none;
    border-radius: 0;
    background-color: transparent;
    padding-top: 10px;
}
ul li a {
    color: dodgerblue;
    font-weight: bold;
    font-family: cursive;

}
body{
    font-family: cursive;
}
.navbar-inverse .navbar-nav>li>a {
    color:  royalblue;
    font-weight: bold;
    font-family: cursive;
    font-size: 18px;
}
.navbar-inverse .navbar-nav>li>a:hover {
    color: darkred;
}

.cart {
  color:#DF0000;
  font-weight:bold;
  background: white;
  border-style:solid;
  min-width:2em;
  text-align:center;
  line-height:.75em;
  border-radius:999px;
  padding:.5em;
  position:absolute;
  right: -40%;
  top: 3%;
}
i.fa.fa-shopping-cart {
    color: red;
    font-size: 25px;
}
.badge{

  font-weight:bold;
  background-color: chocolate;
  border-style:solid;
  border-radius:999px;

}
.container.slide {
    padding-bottom: 35px;
}
